GALAXY_AI_HOST=127.0.0.1
GALAXY_AI_PORT=8000
GALAXY_AI_WORKING_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter
GALAXY_AI_MODEL_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter/models
GALAXY_AI_CLASSIFICATION_DATASET_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter/classification/datasets
GALAXY_AI_CLASSIFICATION_OUTPUT_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter/classification/outputs
GALAXY_AI_TRAINING_DATASET_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter/training/datasets
GALAXY_AI_TRAINING_OUTPUT_DIRECTORY=~/Documents/galaxy-ai/nebula-sorter/training/outputs
GALAXY_AI_DEVICE=auto
